{% extends 'basic.html' %}
{% load static %}


{% block css %} {% endblock %}
{% block body %}
<!--price list -->
<a name="prices"></a>
	<div class="container-fluid" style="background-image: url({% static 'salon/bg4.jpg' %});background-size:cover; background-repeat: no-repeat; padding-right: 0px!important;padding-bottom: 40px!important; padding-left: 0px!important; ">
		<div class="container-fluid" style="background-color:rgba(255, 255, 255, 0.5); ">
		<div class="container">
			<div class="row">
				<div class="col-md-12 about">
					Price List
				</div>
				<center>
					<i class="fa fa-circle" style="font-size:12px;color: black;padding-bottom: 40px;"></i>
						<i class="fa fa-circle" style="font-size:12px;color: black;padding-bottom: 40px;"></i>
				</center>
				<div class="col-md-12 line">
					A beauty salon or beauty parlor (beauty parlour), or sometimes beauty shop, is an establishment dealing with cosmetic treatments for men and women. Other variations of this type of business include hair salons and spas.
				</div>
				<div class="col-md-12" style="margin-top: 30px;background-color: #e22b63;padding-bottom: 20px;">
					  <div class="col-md-4" style="padding-top: 20px;">
					    <div class="thumbnail">
					     <center><i class="fa fa-map" style="font-size:48px;color:#212529; padding-top: 30px;"></i></center>
					      <div class="caption">
					        <h2 class="text-center servname">ESSENTIALS</h2>
					        <p class="text-center line" style="font-size: 14px;">A beauty salon or beauty parlor (beauty parlour), or sometimes beauty shop, is an establishment dealing with cosmetic treatments for men and women. Other variations of this type of business include hair salons and spas.</p>
					      </div>
					    </div>
					  </div>

					  <div class="col-md-4" style="padding-top: 20px;">
					    <div class="thumbnail">
					     <center><i class="fa fa-shopping-bag" style="font-size:48px;color:#212529; padding-top: 30px;"></i></center>
					      <div class="caption">
					        <h2 class="text-center servname">INNOVATIONS</h2>
					        <p class="text-center line" style="font-size: 14px;">A beauty salon or beauty parlor (beauty parlour), or sometimes beauty shop, is an establishment dealing with cosmetic treatments for men and women. Other variations of this type of business include hair salons and spas.</p>
					      </div>
					    </div>
					  </div>

					  <div class="col-md-4" style="padding-top: 20px;">
					    <div class="thumbnail">
					     <center><i class="fa fa-map" style="font-size:48px;color:#212529; padding-top: 30px;"></i></center>
					      <div class="caption">
					        <h2 class="text-center servname">BRIDAL</h2>
					        <p class="text-center line" style="font-size: 14px">A beauty salon or beauty parlor (beauty parlour), or sometimes beauty shop, is an establishment dealing with cosmetic treatments for men and women. Other variations of this type of business include hair salons and spas.</p>
					      </div>
					    </div>
					  </div>
				</div>
			</div>
		</div>
	</div>
	</div>

{% endblock %}